services:
  api:
    image: MUDAR_PARA_O_ECR:${IMAGE_TAG}
    container_name: oryzalabs-api
    restart: unless-stopped
    env_file:
      - .env.prod
    networks:
      - default-network
    command: sh -c "npx prisma migrate deploy && npm run start:prod"
    depends_on:
      - redis

  redis:
    image: redis:7
    restart: unless-stopped
    env_file:
      - .env.prod
    networks:
      - default-network
    volumes:
      - redis-data:/data

  nginx:
    image: nginx:latest
    container_name: default-nginx
    restart: unless-stopped
    ports:
      - '80:80'
      - '443:443'
    volumes:
      - ./nginx/default.conf:/etc/nginx/conf.d/default.conf
      - ./nginx/ssl:/etc/nginx/ssl
      - ./nginx/www/certbot:/var/www/certbot
      - ./nginx/logs:/var/log/nginx

    depends_on:
      - api
    networks:
      - default-network

networks:
  default-network:
    driver: bridge

volumes:
  redis-data:
    driver: local
